.container {
  margin: 20rem 10rem;
}
.text {
  color: white;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
}

.subsection {
  margin-top: 5.6rem;
}
