.container {
  margin: 1rem 0;
}
.text {
  padding: 0.7rem 1.7rem;
  background-color: #514093;
  color: #d6cfff;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 3rem;
  font-weight: bold;
  transition: 0.7s;
}

.text:hover {
  cursor: pointer;
  color: white;
}

@media (max-width: 440px) {
  .text {
    font-size: 1rem;
    padding: 0.2rem 1.2rem;
  }
  .container {
    margin: 0.5rem 0;
  }
}
