.icons {
  margin: 3.3rem 0;
}

.img {
  width: 4rem;
  margin-right: 2rem;
}

.mail {
  color: rgb(170, 169, 169);
  font-size: 4rem;
  margin-right: 2rem;
}
/* 
.img:hover,
.mail:hover {
  width: 4.2rem;
  font-size: 4.2rem;
} */
