.container {
  margin-left: 10rem;
  display: flex;
  justify-content: space-between;
}

.textDiv {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.text {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 3rem 0rem;
}

/* form */
.formDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.div {
  background-color: #d9d9d9;
  height: 40rem;
  width: 50rem;
  border-radius: 5rem;
  margin-bottom: -3rem;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin-left: 4rem;
  background-color: #d9d9d9;
}

.input {
  background-color: #d9d9d9;
  font-size: 2rem;
  margin: 2.4rem 0;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 0.15rem solid #1a1a1a;
  color: #1a1a1a;
  font-family: "Raleway", sans-serif;
}

.input::placeholder {
  color: #1a1a1a;
}

.input:focus {
  outline: none;
}

.button {
  font-size: 2rem;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  font-family: "Raleway", sans-serif;
}

.button:hover {
  color: #d9d9d9;
  cursor: pointer;
}

/* info */

.infoDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-right: 1rem;
  margin-bottom: 13rem;
  background-color: #d9d9d9;
}

.contactDiv {
  margin-bottom: 3.9rem;
  margin-right: 1rem;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.7rem;
  color: #1a1a1a;
  background-color: #d9d9d9;
  font-weight: bold;
}

.info {
  font-size: 1.5rem;
  color: #1a1a1a;
  background-color: #d9d9d9;
}

@media (max-width: 1600px) {
  .container {
    margin: 0rem 3rem;
  }
  .text {
    font-size: 2rem;
  }
}

@media (max-width: 1370px) {
  .container {
    flex-direction: column;
  }
  .formDiv {
    justify-content: flex-start;
  }
  .infoDiv {
    position: absolute;
    margin-left: 26rem;
    margin-bottom: 13rem;
  }
  .text {
    font-size: 1.5rem;
  }
}

@media (max-width: 920px) {
  .div {
    height: 50rem;
  }
  .infoDiv {
    position: absolute;
    margin-left: 4rem;
    margin-bottom: 29rem;
  }
  .contactDiv {
    margin-bottom: 2.5rem;
  }
  .form {
    margin-top: 15rem;
  }
  .input {
    font-size: 1.8rem;
  }
  .button {
    font-size: 1.8rem;
  }
}

@media (max-width: 585px) {
  .div {
    height: 44rem;
  }
  .infoDiv {
    margin-bottom: 25rem;
    margin-left: 3rem;
  }
  .input {
    font-size: 1.5rem;
  }
  .button {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1.3rem;
  }
  .form {
    margin: 10rem 1rem 0 3rem;
  }
}
