.container {
  position: fixed;
  left: 10rem;
  top: 1.3rem;
  z-index: 11;
}

.logo {
  padding: 0.7rem;
  background-color: #d6cfff;
  color: #1a1a1a;
  border-radius: 3rem;
  font-size: 1.5rem;
}

@media (max-width: 1320px) {
  .logo {
    display: none;
  }
}
