.container {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  position: sticky;
  top: 0rem;
  z-index: 10;
  width: 100vw;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  background-color: #1a1a1a;
  height: 3rem;
  margin-top: -0.5rem;
  padding: 4rem 0 2.5rem 0;
}

.text {
  color: #d6cfff;
  margin: 0 5rem;
  background-color: #1a1a1a;
  padding: 0.5rem 1rem;
}
/* dont let others move */
.text:hover,
.a:hover {
  cursor: pointer;
  color: white;
  background-color: #514093;
  transform: scale(1.1);
  border-radius: 3rem;
}
