.container {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  position: sticky;
  top: -1rem;
  z-index: 10;
  max-width: 100vw;
  height: 5rem;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1rem 0;
  height: 2rem;
  padding: 3rem 0 2.5rem 0;
  max-width: 100vw;
}

.text {
  color: #d6cfff;
  padding: 0.5rem 1rem;
  transition: 0.7s;
  font-size: 1.4rem;
  margin: 0 1.5rem;
}

.a {
  transition: 0.7s;
}
.text:hover,
.a:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.1);
  border-radius: 3rem;
}

.text:hover {
  background-color: #514093;
}
