.text {
  color: white;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem;
}

.container {
  position: fixed;
  height: 12.5rem;
  width: 9rem;
  z-index: 11;
  margin-top: 1rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.link {
  color: rgb(243, 171, 243);
}
