.container {
  margin: 0rem 10rem 0 10rem;
  max-width: 100vw;
  position: relative;
  display: block;
}

.empty {
  display: block;
  height: 5rem;
}

.div,
.rightDiv {
  display: flex;
  flex-direction: row;
}

.rightDiv {
  justify-content: flex-end;
}

@media (max-width: 1433px) {
  .container {
    margin: 0rem 3rem;
  }
}

@media (max-width: 1030px) {
  .div {
    flex-direction: column;
  }
  .rightDiv {
    flex-direction: column-reverse;
  }
}
