.container {
  margin: 10rem 10rem;
  max-width: 100vw;
}

.div,
.rightDiv {
  display: flex;
  flex-direction: row;
}

.rightDiv {
  justify-content: flex-end;
}

.leftToRight {
  border-bottom: 0.1rem solid white;
  border-left: 0.1rem solid white;
  margin: 0 10rem 0rem 10rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.vertical {
  border-right: 0.1rem solid white;
  height: 5rem;
  margin-right: 10rem;
  margin-bottom: 3rem;
}

.rightToLeft {
  border-bottom: 0.1rem solid white;
  border-right: 0.1rem solid white;
  margin: 0 10rem 0rem 10rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.vertical2 {
  border-left: 0.1rem solid white;
  height: 5rem;
  margin-left: 10rem;
  margin-bottom: 3rem;
}
