.header {
  font-family: "Poppins", sans-serif;
  color: #d6cfff;
  font-size: 4rem;
  text-decoration: underline;
}

a,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 508px) {
  .header {
    font-size: 3.5rem;
  }
}
